:root {
    --color-darker: #0C0A3E;
    --color-dark: #7B1E7A;
    --color-primary: #B33F62;
    --color-light: #F9564F;
    --color-lighter: #F3C677;
}

* {
    margin: 0;
}

body {
    color: var(--color-primary);
    background-color: var(--color-darker);

    padding: 32px;
}

img {
    height:100%;
}

#carousel-container {
    width: 75vw;

    margin-top: 32px;
    margin-right: auto;
    margin-left: auto;

    overflow: hidden;
}

#carousel-frame {
    position: relative;

    width: 100%;
    height: auto;

    padding-top: 66.66%;
}

#carousel {
    display: flex;

    position: absolute; /* Posiciona el contenido dentro de la caja */
    top: 0;
    left: 0;

    width: auto;
    height: 100%;
} 