:root {
    --color-darker: #0C0A3E;
    --color-dark: #7B1E7A;
    --color-primary: #B33F62;
    --color-light: #F9564F;
    --color-lighter: #F3C677;
}

* {
    margin: 0;
}

body {
    color: var(--color-primary);
    background-color: var(--color-darker);

    padding: 32px;
}